html{
	position: relative;
}
body{
	background: #FAFAFA;
	margin-bottom: 800px;
	font-family: 'Raleway',sans-serif;
}
.navbar{
	border-bottom: 1px solid #ddd;
	/*box-shadow: 1px 0 5px #ddd;*/
}
.navbar-brand{
	/*font-family: 'Fredoka One',cursive;*/
	font-family: Maiandra GD;
}
h1{
	/*font-family: 'Alegreya Sans SC',sans-serif;*/
	font-family: bahnschrift;
}
p{
	/*font-family: 'Alegreya Sans SC',sans-serif;*/
	font-family: bahnschrift;
}
.content-admin{
	margin-top: 50px;
}
.content-admin h1{
	text-align: center;
}
#card-admin{
	border:none;
	box-shadow: 1px 0 5px #ddd;
	/*margin-top: 20px;*/
	margin-top: -100px;
}
.col-md-4 .card .card-body{
	padding-top: 30px;
	height: 150px;
}
.card{
	border: none;
	box-shadow: 1px 0 5px #ddd;
}

.col-md-4 .btn{
	margin-top: 10px;
}
.col-md-4 .btn #eye{
	color: #003399;
}
.col-md-4 .btn #plus{
	color: #FED700;
}

.col-md-2{
	background: #FFF;
	min-height: 100%;
	position: fixed;
	top: 64px;
	/*overflow-y: scroll;*/
	padding-top: 30px;
	border-top: none;
	box-shadow: 1px 0 5px #555;
	/*border-right: 1px solid #ddd;*/
	/*margin-top: 65px;*/
}
#profile-admin{
	padding-top: 20px;
}
.jumbotron{
	margin-top: 60px;
	border-radius: 0;
	height: 200px;
	background-image: linear-gradient(to right,#003399,#0030D3);
	/*background: #003399;*/

}
.jumbotron h1{
	color: #FFF;
	margin-left: 17%;
}
#menu-list .list-group-item span{
	float: right;
}
#menu-list .list-group-item img{
	padding-left: 0;
}
#menu-list .list-group-item{
	border:none;
}
#menu-list .list-group-item:hover{
	background: #003399;
	border-radius: 4px;
	color: #FFF;
}
#dashboard a{
	color: #FFF;
	background: #003399;
}
#title-dashboard{
	color: #FFF;
	margin-top: -150px;
	margin-bottom: 30px;
}
.breadcrumb{
	box-shadow: 1px 0 5px #ddd;
}
.breadcrumb-item{
	font-size: 16px;

}
.breadcrumb-item a{
	font-size: 16px;
	text-decoration: none;
}
#info-dashboard{
	margin-top: 20px;
	border: none;
	box-shadow: 1px 0 5px #ddd;
}
.backgroundNews{
	color: #FFF;
	margin-top: -150px;
	margin-bottom: 100px;
}
#addNews{
	float: right;
}

.backgroundGaleri{
	color: #FFF;
	margin-top: -150px;
	margin-bottom: 100px;
}
#addGaleri{
	float: right;
}
.backgroundBlog{
	color: #FFF;
	margin-top: -150px;
	margin-bottom: 100px;
}
#addBlog{
	float: right;
}
#foot{

}